{% extends 'base.html.twig' %}
{% block content %}
    <div class="course-1x">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-middle">
                        <h2>Top Courses</h2>
                    </div>
                </div>

                <div class="col-md-12">
                    <div id="filters" class="course-menu">
                        <button class="filter active"  data-filter="all">All Courses</button>
                        {% for category in categories %}
                            <button class="filter" data-rel="{{ category.getName()|e }}" data-filter=".{{ category.getName()|e }}">{{ category.getName()|e }}</button>
                        {% endfor %}                       
                    </div>
                </div>

                <div class="col-md-12">	
                    <div class="all-course">
                        <div class="row">
                            {% for video in videos %}
                                <div class="col-md-3 tile {% for category in video.getCategories() %}{{ category.getName()|e }} {% endfor %}">
                                    <div class="single-course">
                                        <div class="hvrbox">
                                            <img src="/asset/images/1.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                            <div class="hvrbox-layer_top hvrbox-text">
                                                <div class="hvrbox-text">																	
                                                    <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                    <a href="{{ url('view_single_video',{'slug': video.getSlug()}) }}">Preview Course</a>	
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-course-content">
                                            <a href="{{ url('view_single_video',{'slug': video.getSlug()}) }}">{{ video.getDescription()|e }}</a>
                                            <h3>
                                                <p>Speaker: {{ video.getSpeakerName()|e }}</p>
                                                <p>Duration: {{ video.getDuration()|e }} Minutes</p>
                                            </h3>
                                        </div>
                                    </div>
                                </div>                                
                            {% endfor %}
                            
                            <div class="col-md-12 text-center" id="load-more-videos">
                                <a href="javascript:void(0)" onclick="return loadMoreVideos();" class="btn-small"> View more </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript"> 
        function loadMoreVideos() {
            $.ajax({
               url:'{{ url("ajax_get_videos") }}',
               type:"POST",   
               dataType:"html",  
               async:true,      
               success: function(data, status) {  
                    //$(".all-videos").append(data);
                    $(data).insertBefore("#load-more-videos");
               },
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });
        }
    </script>
                            
{% endblock %}