{% extends 'base.html.twig' %}
{% block content %}
    <div class="course-1x">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-middle">
                        <h2>Top Courses</h2>
                    </div>
                </div>

                <div class="col-md-12">
                    <div id="filters" class="course-menu">
                        <button class="filter active"  data-filter="all">All Courses</button>
                        {% for category in categories %}
                            <button class="filter" data-rel="{{ category.getName()|e }}" data-filter=".{{ category.getName()|e }}">{{ category.getName()|e }}</button>
                        {% endfor %}                       
                    </div>
                </div>

                <div class="col-md-12">	
                    <div class="all-course">
                        <div class="row">
                            
                            {% for video in videos %}
                                <div class="col-md-3 tile {% for category in video.getCategories() %}{{ category.getName()|e }} {% endfor %}">
                                    <div class="single-course">
                                        <div class="hvrbox">
                                            <img src="/asset/images/1.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                            <div class="hvrbox-layer_top hvrbox-text">
                                                <div class="hvrbox-text">																	
                                                    <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                    <a href="{{ url('view_single_video',{'slug': video.getSlug()}) }}">Preview Course</a>	
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-course-content">
                                            <a href="{{ url('view_single_video',{'slug': video.getSlug()}) }}">{{ video.getDescription()|e }}</a>
                                            <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                            <h3>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i> (4)
                                                <span>Enroll: 128</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>                                
                            {% endfor %}                           
                            
                            
                            <div class="col-md-3 tile web">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/1.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Learn Photoshop With Eyal Complete Course</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 tile design">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/2.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Visual Basic Essential Training</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 tile marketing">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/3.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">The Complete Developer Web Course</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 tile design">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/4.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Creating 3D environment in Blender</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 tile marketing">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/5.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Advanced CSS and Sass Flexbox Grid</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 tile photography">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/6.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Complete Cyber Security Course Hackers</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 tile bcards">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/7.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Introduction To Python Programming</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 tile photography">
                                <div class="single-course">
                                    <div class="hvrbox">
                                        <img src="/asset/images/8.jpg" alt="slide 1" class="hvrbox-layer_bottom">
                                        <div class="hvrbox-layer_top hvrbox-text">
                                            <div class="hvrbox-text">																	
                                                <a href="https://www.youtube.com/watch?v=gwinFP8_qIM" class="btn-circle video"><i class="fas fa-play"></i></a>
                                                <a href="course-single.html">Preview Course</a>	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-course-content">
                                        <a href="course-single.html">Certificate Early Education Leadership</a>
                                        <p>Nir Eyal <span><del>$169</del> <b>$149</b></span></p>
                                        <h3>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (4)
                                            <span>Enroll: 128</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <a href="#" class="btn-small"> View more </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>    
{% endblock %}